.schedule-header th {
	width: 60px;
	text-align: center;
}
.schedule-rows td {
  width: 80px;
  height: 16px;
  margin: 3px;
  padding: 5px;
  background-color: #eee;
  cursor: pointer;
  user-select: none;
}
.schedule-rows td:first-child {
  background-color: transparent;
  text-align: right;
  position: relative;
}
.schedule-rows td.time-label{
	width: 60px;
}
.schedule-rows td[data-selected],
.schedule-rows td[data-selecting='selecting'] {
  background-color: #6a0bc1;
}
.schedule-rows td[data-selecting='deselecting'] {
  background-color: #FFDAD6;
}
.schedule-rows td[data-disabled] {
  opacity: 0.55;
}
